@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    margin:0;
    padding:0;
    border: none;
    outline: none;
    box-sizing:border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Barlow';
}

#container nav{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    font-family: 'Barlow Condensed';
    padding: 62px 40px 10px 105px;
}
aside{
    display: none;
}
#menu{
    display: none;
}

main{
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

nav #nav-links{
    margin-left: auto
}

nav #nav-links #links{
    display: flex;
}

nav #nav-links .link:not(:last-child),
nav aside .mobile-links{
    margin-right: 37px;
    list-style-type: none;
}

#bg-grayish-blue{
    top: 0;
    right: 0;
    width: 42%;
    height: 53%;
    z-index: -1;
    border-radius: 0 0 0 65px;
    position: absolute;
    background-color: hsl(207, 33%, 95%);
}

.link a,
.link a:visited{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: hsl(230, 29%, 20%);
}

#nav-links #link4,
#nav-links #link4 a{
    margin-left: 20px;
    color: hsl(231, 7%, 65%);
}

a:hover{
    text-decoration: underline;
}

#Call-to-actions{
    padding: 0 0 0 105px;
}

#head,
#demo{
    display: flex;
    align-items: center;
}

#new{
    margin-right: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #000;
    color: hsl(0, 0%, 100%);
    font-family: 'Barlow Condensed';
}

#type,
#demo-info{
    font-size :14px;
    word-spacing: 4px;
    letter-spacing: 4px;
    color:hsl(231, 7%, 65%);
    font-family: 'Barlow Condensed';
}

h1{
    font-size: 70px;
    line-height: 70px;
    margin: 20px 0 30px 0;
    color: hsl(230, 29%, 20%);
    font-family: 'Barlow Condensed';
}

#hero p{
    width: 50%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    font-family: 'Barlow';
    color: hsl(228, 12%, 57%);
}

#btn{
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 26px;
    margin-right: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
    color: hsl(207, 33%, 95%);
    font-family: 'Barlow Condensed';
    background-color: hsl(0, 100%, 68%);
}

#btn:hover{
    cursor: pointer;
    background-color: hsla(0, 100%, 68%, 0.699);
}

main #img{
    transform: translateX(28%);
}

@media (max-width:1440px){
    h1{
        width: 100%;
        font-size: 48px;
        line-height:normal;
    }
    #bg-grayish-blue{
        width: 50%;
        height: 54%;
    }
    #hero p{
        width: 76%;
        font-size: 18px
    }
}

@media (max-width:376px){
    #container nav{
        position: relative;
        margin-bottom: 58px;
        padding: 28px 30px 0 30px;
    }
    #close{
        display: none;
    }
    #logo img{
        width: 24px;
    }
    #nav-links{
        display: none;
    }
    aside{
        border-radius: 4px;
        top: 170%;
        width: 86%;
        z-index: 1;
        display: none;
        position: absolute;
        left: 7%;
        text-align: center;
        background-color: #fff;
        filter: drop-shadow(0 2px 12px #b1b0b0);
    }
    aside ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav aside .mobile-links{
        margin: 0;
    }
    .mobile-links .link:nth-child(odd){
        padding: 22px 0;
    }
    .mobile-links .link:last-child{
        width: 80%;
        padding: 24px 0;
        border-top: 1px solid hsl(240, 6%, 75%);
    }
    #aside .mobile-links #login a{
        color: hsl(240, 6%, 75%);
    }
    main{
        flex-direction: column-reverse;
    }
    #Call-to-actions{
        padding: 0 0 0 30px;
    }
    #hero h1{
        font-size: 38px;
        line-height: 36px;
        margin: 14px 0 10px 0;
    }
    #menu{
        display: block;
        margin-left: auto;
    }
    #hero p{
        margin: 14px 0 18px 0;
        font-size: 17px;
        font-weight: 600;
    }
    #bg-grayish-blue{
        height: 59%;
    }
    main #img{
        margin-bottom: 80px;
    }
    main #img img{
        width: 136%;
        transform: translateX(-19.5%);
    }
    #btn{
        font-size: 14px;
    }
    #demo #demo-info{
        font-size: 12px;
        word-spacing: 0px;
    }
}